Repository kedro-org/kedro, pull requests merged in 2019-06, with the labels that each got.

#10 Fix example pipeline.py
  RELEASE.md
  docs/source/03_tutorial/04_create_pipelines.md
Labels: Type: Documentation

#16 Minor documentation fix for kedro new cli command
  kedro/cli/cli.py
Labels: Type: Bug, Type: Documentation

#20 Expand user home directory (~) for TextLocalDataSet
  RELEASE.md
  kedro/io/text_local.py
  tests/io/test_text_local.py
Labels: Component: I/O, Type: Enhancement

#23 Removal of a duplicate paragraph
  RELEASE.md
  docs/source/04_user_guide/05_nodes_and_pipelines.md
  kedro/template/{{ cookiecutter.repo_name }}/conf/README.md
Labels: Type: Bug, Type: Documentation

#13 Kedro: Minor enhancements to documentation
  RELEASE.md
  docs/source/04_user_guide/04_data_catalog.md
  docs/source/06_resources/01_faq.md
  docs/source/06_resources/02_commands_reference.md
Labels: Type: Documentation, Type: Enhancement
