Repository kedro-org/kedro, pull requests merged in 2019-07, with the labels that each got.

#28 Change links in tutorial to point at raw content
  RELEASE.md
  docs/source/03_tutorial/03_set_up_data.md
Labels: Type: Documentation, Type: Enhancement

#44 Minor documentation fixes
  kedro/template/{{ cookiecutter.repo_name }}/README.md
  kedro/template/{{ cookiecutter.repo_name }}/conf/README.md
Labels: Type: Documentation

#53 Make PEP 561 compatible packages :sparkling_heart:
  kedro/py.typed
  setup.py
Labels: Type: Enhancement

#39 Add an S3 Parquet dataset for Pandas in `contrib`
  RELEASE.md
  docs/source/04_user_guide/07_advanced_io.md
  docs/source/05_api_docs/kedro.contrib.io.rst
  kedro/contrib/io/parquet/README.md
  kedro/contrib/io/parquet/__init__.py
  kedro/contrib/io/parquet/parquet_s3.py
  tests/contrib/io/conftest.py
  tests/contrib/io/parquet/__init__.py
  tests/contrib/io/parquet/test_parquet_s3.py
Labels: Type: Contrib
