Repository kedro-org/kedro, pull requests merged in 2019-10, with the labels that each got.

#107 [KED-1076] Add open flag to build-docs that opens the documentation on build
  RELEASE.md
  kedro/template/{{ cookiecutter.repo_name }}/kedro_cli.py
  tests/template/test_kedro_cli.py
Labels: Component: CLI, Component: Template, Type: Enhancement

#34 [KED-921] Add Matplotlib dataset
  RELEASE.md
  docs/source/05_api_docs/kedro.contrib.io.rst
  kedro/contrib/io/matplotlib/README.md
  kedro/contrib/io/matplotlib/__init__.py
  kedro/contrib/io/matplotlib/matplotlib_writer.py
  setup.py
  test_requirements.txt
  tests/contrib/io/matplotlib/__init__.py
  tests/contrib/io/matplotlib/test_matplotlib_writer.py
Labels: Type: Contrib

#106 [KED-862] Add versioning to Azure's CSVBlobDataSet
  RELEASE.md
  docs/source/04_user_guide/08_advanced_io.md
  kedro/contrib/io/azure/csv_blob.py
  tests/contrib/io/azure/test_csv_blob.py
Labels: Component: I/O, Type: Contrib, Type: Enhancement

#140 [KED-944] Add NetworkXDataSet
  RELEASE.md
  docs/source/04_user_guide/08_advanced_io.md
  kedro/contrib/io/networkx/README.md
  kedro/contrib/io/networkx/__init__.py
  kedro/contrib/io/networkx/networkx_local.py
  setup.py
  test_requirements.txt
  tests/contrib/io/networkx/__init__.py
  tests/contrib/io/networkx/test_networkx_local.py
Labels: Component: I/O, Type: Contrib
