Repository kedro-org/kedro, pull requests merged in 2019-09, with the labels that each got.

#87 [KED-988] Fix TypeError when validating partial function's signature
  kedro/pipeline/node.py
  tests/pipeline/test_node.py
Labels: Component: Nodes, Type: Bug

#83 Fix conjugation error (change include to included)
  kedro/contrib/__init__.py
Labels: Type: Bug, Type: Documentation

#41 [KED-519] Implement templated config
  RELEASE.md
  kedro/contrib/config/__init__.py
  kedro/contrib/config/templated_config.py
  tests/contrib/config/__init__.py
  tests/contrib/config/test_templated_config.py
Labels: Issue: Feature Request
