Repository kedro-org/kedro, pull requests merged in 2022-10, with the labels that each got.

#1878 Add NHS AI Lab and ReSpo.Vision to companies list
  README.md
Labels: Component: Documentation 📄

#1905 Add _SINGLE_PROCESS property to CachedDataSet
  kedro/io/cached_dataset.py
Labels: hacktoberfest-accepted

#1913 Update the tutorial of "Visualise pipelines"
  docs/source/tutorial/visualise_pipeline.md
Labels: hacktoberfest-accepted

#1916 Make docstring in test starter match real starters
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
Labels: Community

#1959 Add show-docs command to Makefile
  Makefile
Labels: Component: Documentation 📄

#1915 Enable `TensorFlowModelDataset` to overwrite existing model, and add support for `tf.device`
  RELEASE.md
  kedro/extras/datasets/tensorflow/README.md
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  tests/extras/datasets/tensorflow/test_tensorflow_model_dataset.py
Labels: hacktoberfest-accepted, Community

#1614 Refactor `ShelveStore` into a separate module
  RELEASE.md
  docs/source/api_docs/kedro.framework.session.shelvestore.ShelveStore.rst
  docs/source/api_docs/kedro.framework.session.store.ShelveStore.rst
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/framework/session/shelvestore.py
  kedro/framework/session/store.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  tests/framework/project/test_settings.py
  tests/framework/session/test_session.py
  tests/framework/session/test_store.py
Labels: Community
