Repository kedro-org/kedro, pull requests merged in 2022-11, with the labels that each got.

#1945 Improve MatplotlibWriter documentation with examples
  RELEASE.md
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
Labels: hacktoberfest-accepted

#1988 Replace Discord links in docs with links to Slack
  docs/source/contribution/contribute_to_kedro.md
  docs/source/contribution/technical_steering_committee.md
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/get_started/prerequisites.md
  docs/source/index.rst
Labels: hacktoberfest-accepted

#1844 Improve DataSet API documentation with YAML examples
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
Labels: Community

#1967 Tutorial documentation (Spaceflights) improvements
  .gitignore
  docs/build-docs.sh
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/get_started/prerequisites.md
  docs/source/index.rst
  docs/source/logging/experiment_tracking.md
  docs/source/meta/images/coffee-cup.png
  docs/source/meta/images/moon-rocket.png
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/resources/glossary.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/create_pipelines.md
  docs/source/tutorial/namespace_pipelines.md
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
  docs/source/visualisation/experiment_tracking.md
  docs/source/visualisation/kedro-viz_visualisation.md
  docs/source/visualisation/visualise_charts_with_plotly.md
Labels: Component: Documentation 📄

#1312 Add a video dataset reader/writer
  RELEASE.md
  kedro/extras/datasets/video/__init__.py
  kedro/extras/datasets/video/video_dataset.py
  pyproject.toml
  setup.py
  test_requirements.txt
  tests/extras/datasets/video/conftest.py
  tests/extras/datasets/video/data/color_video.mp4
  tests/extras/datasets/video/data/video.mjpeg
  tests/extras/datasets/video/data/video.mkv
  tests/extras/datasets/video/data/video.mp4
  tests/extras/datasets/video/test_sliced_video.py
  tests/extras/datasets/video/test_video_dataset.py
  tests/extras/datasets/video/test_video_objects.py
  tests/extras/datasets/video/utils.py
Labels: Community

#2033 Update links to Slack & add note about security
  CONTRIBUTING.md
Labels: Component: Documentation 📄

#2034 Apply OpenSSF Best Practices Badge
  README.md
  docs/source/contribution/contribute_to_kedro.md
  docs/source/contribution/technical_steering_committee.md
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/index.rst
  docs/source/tutorial/spaceflights_tutorial.md
Labels: Component: Documentation 📄

#2064 Release notes changes for 18.4
  RELEASE.md
Labels: Component: Documentation 📄
