Repository kedro-org/kedro, pull requests merged in 2023-11, with the labels that each got.

#3250 Add community contributors to release notes
  RELEASE.md
Labels: Component: Documentation 📄

#3213 Update create_a_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
Labels: Community

#3296 Minor notebook docs update to remove "Further info" links
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Labels: Component: Documentation 📄

#3337 Minor dataset factories and config docs update
  Makefile
  docs/source/configuration/parameters.md
  docs/source/data/kedro_dataset_factories.md
Labels: Bug Bash :bug:

#3353 Revise starters section causing link break
  docs/source/kedro_project_setup/starters.md
Labels: Component: Documentation 📄

#3305 [Ready] Add video course content to docs
  docs/source/course/index.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
  docs/source/index.rst
Labels: Component: Documentation 📄
