Repository kedro-org/kedro, pull requests merged in 2023-10, with the labels that each got.

#3122 Fix broken link in #3121 micropackaging docs
  docs/source/nodes_and_pipelines/micro_packaging.md
Labels: Component: Documentation 📄

#3140 Added -keep-going flag to build docs
  docs/build-docs.sh
Labels: Community

#3141 Docs/update viz image iris starter
  docs/source/get_started/new_project.md
  docs/source/meta/images/pipeline_visualisation_iris_starter.png
Labels: Community

#3153 Fix broken link to requirements in dependencies.md
  docs/source/kedro_project_setup/dependencies.md
Labels: Component: Documentation 📄

#3152 Fix broken link to requirements in dependencies.md
  docs/source/kedro_project_setup/dependencies.md
Labels: Component: Documentation 📄

#3119 Resolve inconsistencies in Spaceflights data
  docs/source/tutorial/create_a_pipeline.md
Labels: Community, Hacktoberfest

#3127 [Ready] Changes to improve existing content about notebook development & kedro
  docs/source/development/commands_reference.md
  docs/source/faq/faq.md
  docs/source/kedro_project_setup/starters.md
  docs/source/meta/images/jupyter_new_notebook.png
  docs/source/meta/images/new_jupyter_browser_window.png
  docs/source/meta/images/new_jupyter_notebook_view.png
  docs/source/meta/images/run_viz_in_notebook.png
  docs/source/notebooks_and_ipython/index.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  docs/source/notebooks_and_ipython/kedro_as_a_data_registry.md
Labels: Component: Documentation 📄

#3157 Revise documentation table of contents
  .github/workflows/merge-gatekeeper.yml
  docs/source/index.rst
  docs/source/kedro_project_setup/index.md
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
Labels: Component: Documentation 📄

#3163 Make settings.py optional
  RELEASE.md
  kedro/framework/project/__init__.py
  tests/framework/project/test_settings.py
Labels: Community, Hacktoberfest

#3176 Update release notes for docs changes
  RELEASE.md
Labels: Component: Documentation 📄

#3210 Fix minor notebook docs issue
  docs/source/notebooks_and_ipython/index.md
Labels: Component: Documentation 📄

#3239 Update data_catalog.md
  docs/source/data/data_catalog.md
Labels: Hacktoberfest

#3203 Refactor of Pipeline Tests
  RELEASE.md
  tests/pipeline/test_pipeline.py
Labels: Community, Hacktoberfest

#3212 Add note about dbx asset bundles
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
Labels: Component: Documentation 📄

#3244 Revise link to notebook docs and remove unnecessary intro page
  docs/source/introduction/index.md
  docs/source/introduction/introduction.md
  docs/source/resources/glossary.md
Labels: Component: Documentation 📄

#3199 Feat/add conf source to ipython
  RELEASE.md
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Labels: Hacktoberfest
